@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    overflow-y: scroll;
  }


@layer base {
    html {
        font-size: 13px;
    }

    @media (min-width: 640px) {
        html {
            font-size: 15px;
        }
    }

    @media (min-width: 1024px) {
        html {
            font-size: 16px;
        }
    }
}


:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Roboto', sans-serif;
}